@model LibrarieOnline.Models.DTO.UserViewModel

@using (Html.BeginForm("Registration", "Auth", FormMethod.Post))
{
    <h2>Login</h2>
    @Html.TextBoxFor(u => u.UserName)
    <br />
    <br />
    <h2>Password</h2>
    @Html.PasswordFor(u => u.Password)<br />
    <br />
    @Html.DropDownListFor(u=>u.Rolul, new List<SelectListItem>{
        new SelectListItem { Text = "admin"},
        new SelectListItem { Text = "user"}

    })
   
    <br /><br />
    <div style="padding-left: 94px;">
        <button type="submit">Register</button>
    </div>

}