@using librarieonline.Models
@{
    ViewBag.Title = "Person";
}

<h2>Person</h2>

@foreach (var person in ViewBag.people)
{
    <h2>Nume: @person.Name</h2>
    <h2>Surname: @person.Surname</h2>
    <h2>Age: @person.Age</h2>
    <h2>Profession: @person.Profession</h2>
}